body {
    --primary: #ff461d;
    --light-primary: #f19580;
    /* --green: #A8CF45;
    --grey: #F2F3F3;
    --white: #ffffff;
    --primary-light: #DCEDF7;
    --dark-font: #201E1E;
    --light-font: #373435; */

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 

}

/* --------- Font Related --------- */
/* body{  
    color: var(--dark-font);
} */