<div class="black_font">

    <div class="dk-box-5 dk-padding-top">

        <div class="container">
            <mat-form-field appearance="fill">
                <mat-label>Services</mat-label>
                <mat-select class="dk-isotope-filter" (selectionChange)="selectDiscFilter($event)">
                  <mat-option value="">All Services</mat-option>
                  <mat-option *ngFor="let d of disciplines" [value]="d.name[0].quote">{{d.name[0].quote}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <div class="container">
            <mat-form-field appearance="fill">
                <mat-label>Industry</mat-label>
                <mat-select class="dk-isotope-filter" (selectionChange)="selectIndFilter($event)">
                  <mat-option value="">All Industries</mat-option>
                  <mat-option *ngFor="let i of industries" [value]="i.name[0].quote">{{i.name[0].quote}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>

    </div>

    <div class="dk-box-2 dk-padding-bot">
        <div class="container">
            <div class="row vertical-gap dk-isotope-grid" style="height: 100%;">
                <ng-container *ngFor="let p of projects">
                    <div class="col-12 col-md-6 dk-isotope-grid-item" *ngIf="p._show">
                        <app-work-preview [project]="p"></app-work-preview>
                    </div>
                </ng-container>              
            </div>        
        </div>
    </div>

</div>
