<div class="black_font">

    <div class="dk-box-5">

        <div class="container">
            <mat-form-field appearance="fill" style="margin-right: 3em;">
                <mat-select (selectionChange)="selectDiscFilter($event)" disableOptionCentering (openedChange)="panelToggled($event, true)" [(value)]="filters.discipline">
                  <mat-option value="" [hidden]="filters.discipline === ''">All Services</mat-option>
                  <ng-container *ngFor="let d of disciplines">
                      <mat-option                     
                        [hidden]="filters.discipline === d.name[0].quote"
                        [value]="d.name[0].quote" 
                        [disabled]="!d.hasCombinations">
                            {{d.name[0].quote}}
                            <ng-container *ngIf="!d.hasCombinations">({{'no projects' | translate}})</ng-container>
                       </mat-option>
                  </ng-container>
                </mat-select>
            </mat-form-field>
            
            <div class="spacing" [ngStyle]="{'height.px': disciplines.length * 22}" *ngIf="panelOpen.disc"></div>
            
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="selectIndFilter($event)" disableOptionCentering (openedChange)="panelToggled($event, false)" [(value)]="filters.industry">
                    <mat-option value="" [hidden]="filters.industry === ''">All Industries</mat-option>
                    <ng-container *ngFor="let i of industries" >
                        <mat-option
                        [hidden]="filters.industry === i.name[0].quote"
                        [value]="i.name[0].quote" 
                        [disabled]="!i.hasCombinations">
                        {{i.name[0].quote}} 
                        <ng-container *ngIf="!i.hasCombinations">({{'no projects' | translate}})</ng-container>
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <div class="spacing" [ngStyle]="{'height.px': industries.length * 22}" *ngIf="panelOpen.ind"></div>
        </div>

    </div>

    <div class="dk-box-2 dk-padding-bot">
        <div class="layer" *ngIf="panelOpen.disc || panelOpen.ind"></div>
        <div class="container">
            <div class="row vertical-gap dk-isotope-grid" style="height: 100%;">
                <ng-container *ngFor="let p of projects">
                    <div class="col-12 col-md-6 dk-isotope-grid-item" *ngIf="p._show">
                        <app-work-preview [project]="p"></app-work-preview>
                    </div>
                </ng-container>              
            </div>        
        </div>
    </div>

    <div class="dk-box-2 text-center" style="padding-top: 0;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <p class="mb-2 call_to_action">{{'Interested?' | translate}} <a [routerLink]="'../../contact'">{{'Let\'s talk' | translate}}</a>.</p>                    
                </div>
            </div> 
        </div>
    </div>

</div>
