.layer {
    background-color: rgb(255 255 255 / 85%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.spacing{
    display: none;
}

@media (max-width: 424px) {
    .spacing{
        display: revert;
    }
    .dk-padding-top{
        padding: 0 !important;
    }
}
@media (max-width: 992px) {
    .dk-box-5{
        padding-top: 0;
    }
}
