<div class="black_font">
    <div class="dk-box-5 dk-padding-top">
        <div class="container">
            <ul class="dk-isotope-filter text-center">
                <li class="active" data-filter="*">All</li>
                <li [attr.data-filter]="'.' + noSpaces(d.name[0].quote)" *ngFor="let d of disciplines">{{d.name[0].quote}}</li>
            </ul>
        </div>
    </div>

    <div class="dk-box-2 dk-padding-bot">
        <div class="container">
            <div class="row vertical-gap dk-isotope-grid">
                
                <div class="col-12 col-md-6 dk-isotope-grid-item" [ngClass]="getClasses(p)" *ngFor="let p of projects">
                    <app-work-preview [project]="p"></app-work-preview>
                </div>

            </div>        
        </div>
    </div>
</div>