input{
    border: none !important;
    border-bottom: 2px solid var(--primary) !important;
}

input:invalid:required, textarea:invalid:required {
    background-color:#ff461e0f; 
}

.no-invalid{
    background-color: var(--white) !important;
}

textarea{
    border: 2px solid var(--primary) !important;
}

input, textarea{
    font-family: 'Baro', sans-serif !important;
}

.dk-btn{
    font-family: 'Baro', sans-serif;
    text-transform: unset;
    min-width: 40%;
    background-color: var(--primary);
}
.dk-btn:hover, .loading-btn{
    background-color: var(--light-primary);
}

.sent-btn{
    background-color: var(--black);
    color: var(--white);
    pointer-events: none;
}

/* Spinner */
.spinner {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Placeholder */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grey-100);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grey-100);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grey-100);
}


@media (max-width: 992px) {
    .dk-box-1{
        padding: 30px 0;
    }
}