<div class="dk-box-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Branding for</h2>
                <h2>businesses with purpose</h2>
                <h1 *ngFor="let c of categories;">
                    {{c.name[0].quote}}
                </h1>
            </div>
            <div class="col-lg-6">
                <p class="lead">We are an independent desing firm specialized in branding. From Brand Strategy to Visual Identity, we help business that are ready to stand out.</p>
            </div>
        </div>
    </div>
</div>