<footer class="dk-footer">
    <div class="dk-box-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">

                        <div class="dk-widget-footer">
                            <div class="dk-widget-list">
                                <a [routerLink]="'home'">Home</a>
                                <a [routerLink]="'work'">Work</a>
                                <a [routerLink]="'about'">About</a>
                                <a [routerLink]="'contact'">Contact</a>
                            </div>
                        </div>

                    <div class="space"></div>

                        <div class="dk-widget-footer">
                            <div class="dk-widget-list">
                                <a href="#">&copy; Baro 2020</a>
                            </div>
                        </div>

                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="dk-widget-footer">
                        <div class="dk-widget-list">
                            <a href="#">hello@barobranding.com</a>
                            <a href="#">(+54) 9 3492-672555</a>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="dk-widget-footer">
                        <div class="dk-widget-list">
                            <a href="#">235 Juan Pablo López,</a>
                            <a href="#">Rafaela, Argentina (CP2300)</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
 
                        <div class="dk-widget-footer">
                            <div class="dk-widget-list">
                                <a href="#">Behance</a>
                                <a href="#">Instagram</a>
                                <a href="#">Linked In</a>
                            </div>
                        </div>

                    <div class="space"></div>

                        <div class="dk-widget-footer">
                            <div class="dk-widget-list">
                                <a href="#">Subscribe to our newsletter</a>
                            </div>
                        </div>

                </div>

            </div>
        </div>
    </div>

</footer>