.clients, h1, .bold {
    font-family: 'Baro', sans-serif;

}
.clients{
    font-weight: 700;
    display: inline;
    margin-right: 1em;
}

h1, .bold{    
    font-weight: 600;
}

.hair{    
    font-family: 'BaroHair', sans-serif;
    font-weight: 100;
}

.project_header{
    color: #131313;
    margin-bottom: 2em;
}

.desc{    
    color: #131313;
    font-size: 1.4em;
    line-height: normal;
}