@font-face {
    font-family: "Inter";    
    font-weight: 100;
    font-style: normal;
    src: url("InterWeb/Inter-Thin.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    font-style: normal;
    src: url("InterWeb/Inter-ExtraLight.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: normal;
    src: url("InterWeb/Inter-Light.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    src: url("InterWeb/Inter-Regular.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    src: url("InterWeb/Inter-Medium.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    src: url("InterWeb/Inter-SemiBold.woff");
}

@font-face {
    font-family: "Inter";    
    font-weight: 700;
    font-style: normal;
    src: url("InterWeb/Inter-Bold.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 800;
    font-style: normal;
    src: url("InterWeb/Inter-ExtraBold.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
    src: url("InterWeb/Inter-Black.woff");
}



/* Italic */

@font-face {
    font-family: "Inter";    
    font-weight: 100;
    font-style: italic;
    src: url("InterWeb/Inter-ThinItalic.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 200;
    font-style: italic;
    src: url("InterWeb/Inter-ExtraLightItalic.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 300;
    font-style: italic;
    src: url("InterWeb/Inter-LightItalic.woff");
}
/* 
@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: italic;
    src: url("InterWeb/InterItalic.woff");
} */

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: italic;
    src: url("InterWeb/Inter-MediumItalic.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: italic;
    src: url("InterWeb/Inter-SemiBoldItalic.woff");
}

@font-face {
    font-family: "Inter";    
    font-weight: 700;
    font-style: italic;
    src: url("InterWeb/Inter-BoldItalic.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 800;
    font-style: italic;
    src: url("InterWeb/Inter-ExtraBoldItalic.woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 900;
    font-style: italic;
    src: url("InterWeb/Inter-BlackItalic.woff");
}
