<div class="black_font">
    <div class="dk-box-fullscreen">
        <div class="bg-image bg-image-parallax">
            <img class="jarallax-img" src="assets/website/img/foto_about_1920.jpg" alt="" style="display: none;">
        </div>
    </div>

    <div class="dk-box-2">
        <div class="container mnt-8 mnb-8">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <h3>Baro is a multidisciplinary design studio based in Argentina, directed by Cristian Baronetti.</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- This could be a separate item -->
    <div class="dk-box question">
        <div class="container mnt-8 mnb-8">
            <div class="row justify-content-between">
                <div class="col-lg-6 red_title">
                    <h1>Who we are</h1>
                </div>
                <div class="col-lg-6 answer">
                    <p>We are a team of ever-growing and tal ented specialists from all sorts of fields, including strategists, designers, artists, animators and developers, working remotely from all across the country.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="dk-box question">
        <div class="container mnt-8 mnb-8">
            <div class="row justify-content-between">
                <div class="col-lg-6 red_title">
                    <h1>What we do</h1>
                </div>
                <div class="col-lg-6 answer">
                    <p>We don’t do everything. We do branding and we do it right. For each project, we organize a special team of professionals to create a unique solution, specific to your business needs.<br>
                    Because of that, we can adapt to any project size and respond faster, delivering superior results worldwide. <a [routerLink]="'../contact'">Let's talk.</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="dk-box question">
        <div class="container mnt-8 mnb-8">
            <div class="row justify-content-between">
                <div class="col-lg-6 red_title">
                    <h1>What our<br>clients say</h1>
                </div>
                <div class="col-lg-6 answer">
                    <div class="testimonial">
                        <div class="quote">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia fringilla orci, sit amet elementum neque condimentum ac. Donec nunc metus, ultrices rutrum mauris iaculis, eleifend efficitur ligula.”</p>
                        </div>
                        <div class="client">
                            <p>- Client Name | Job title | Brand name</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="quote">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia fringilla orci, sit amet elementum neque condimentum ac.”</p>
                        </div>
                        <div class="client">
                            <p>- Client Name | Job title | Brand name</p>
                        </div>
                    </div>
                    <div class="testimonial">
                        <div class="quote">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</p>
                        </div>
                        <div class="client">
                            <p>- Client Name | Job title | Brand name</p>
                        </div>
                    </div>

                    <p>Read more testimonials in our <a [routerLink]="'../work'">case studies.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>