<div class="dk-box-1 black_font" style="padding-top: 0;">

    <div class="dk-box-2 heading only_desktop">
        <div class="container mnt-8 mnb-8">
            <div class="row justify-content-between">
                <div class="col-lg-6 text">
                    <h1 class="pt50 ft_white white_title">{{'Baro is a multidisciplinary design studio based in Argentina, directed by Cristian Baronetti.' | translate}}</h1>
                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <img class="baro" src="/assets/website/img/foto_about_hires.jpg" alt="" style="width: auto;">
                </div>
            </div>
        </div>
    </div>

    <div class="dk-box-2 heading only_mobile">
        <div class="container mnt-8 mnb-8" style="display: flex;">
            
                <div class="text">
                    <h1 class="pt50 ft_white white_title">{{'Baro is a' | translate}}<br> {{'multidisciplinary' | translate}}<br> {{'design studio' | translate}}<br> {{'based in' | translate}}<br> Argentina,<br> {{'directed by' | translate}}<br> Cristian<br> Baronetti.</h1>
                </div>
                <img class="baro" src="/assets/website/img/foto_about_hires.jpg" alt="" style="width: auto;">

        </div>
    </div>

    <!-- This could be a separate item -->
    <div class="dk-box question" style="margin-top: 2em;">
        <div class="container mnt-8 mnb-8" style="border-top: none;">
            <div class="row justify-content-between">
                <div class="col-lg-6 red_title">
                    <h1>{{'Who we are' | translate}}</h1>
                </div>
                <div class="col-lg-6 pt50 ft_black">
                    <p>{{'We are a team of ever-growing and tal ented specialists from all sorts of fields, including strategists, designers, artists, animators and developers, working remotely from all across the country.' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="dk-box question">
        <div class="container mnt-8 mnb-8 pb-0">
            <div class="row justify-content-between">
                <div class="col-lg-6 red_title">
                    <h1>{{'What we do' | translate}}</h1>
                </div>
                <div class="col-lg-6 pt50 ft_black">
                    <p>{{'We don’t do everything. We do branding and we do it right. For each project, we organize a special team of professionals to create a unique solution, specific to your business needs.' | translate}}<br>
                    {{'Because of that, we can adapt to any project size and respond faster, delivering superior results worldwide.' | translate}}</p>
                    <p>
                        <b>{{'We do' | translate}}:</b><br>
                        - {{'Brand Strategy' | translate}}<br> 
                        - {{'Brand Architecture' | translate}}<br>
                        - {{'Naming' | translate}}<br>
                        - {{'Logo Design' | translate}}<br>
                        - {{'Visual Identity & Guidelines' | translate}}<br>
                        - {{'Brand Voice & Messaging' | translate}}<br>
                        - {{'Web & Digital Design' | translate}}<br>
                        - {{'Packaging' | translate}}<br>
                        - {{'Brand Consulting' | translate}}<br>
                        - {{'Things that doesn\'t have a name yet' | translate}}
                    </p>
                    <p><a class="call_to_action" [routerLink]="'../contact'">{{'Let\'s talk' | translate}}</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonials -->
    <!-- TODO: Take off the pb-0 class from line 42 when adding the testimonials -->
    <!-- <div class="dk-box question">
        <div class="container mnt-8 mnb-8 pb-0">
            <div class="row justify-content-between">
                <div class="col-lg-6 red_title">
                    <h1>{{'What our' | translate}}<br>{{'clients say' | translate}}</h1>
                </div>
                <div class="col-lg-6 answer">
                    <div class="testimonial">
                        <div class="quote">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia fringilla orci, sit amet elementum neque condimentum ac. Donec nunc metus, ultrices rutrum mauris iaculis, eleifend efficitur ligula.”</p>
                        </div>
                        <div class="client">
                            <p>- Client Name | Job title | Brand name</p>
                        </div>
                    </div>
                    <p>{{'Read more testimonials in our' | translate}} <a [routerLink]="'../work'">{{'case studies' | translate}}</a>.</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="dk-box-2 pt-0"></div>
</div>
