.dk-box-fullscreen {
    min-height: 60vh;
}
.bg-image-parallax {
    background: url('src/assets/website/img/foto_about_1920.jpg');
    background-color: var(--primary);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.question .container{
    padding: 50px 0;
    border-top: 2px solid #d0d0d0;
    width: 90%;
}

.answer p{
    font-size: 1.5em;
}
.red_title h1{
    color :var(--primary);
    font-size: 3em;
}

.testimonial{
    margin-bottom: 3em;
}

.quote{
    font-style: italic;
}

.client p{
    font-size: 1em;
    color: var(--light-gray-font-color);
    font-weight: 600;
}

.dk-box-fullscreen{
    padding: 0;
}

.dk-box-fullscreen div{
    background-color: var(--primary);
    display: flex;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.heading{
    background-color: var(--primary);
    padding-top: 2em;
    padding-bottom: 0;
}


.baro{
    width: auto;
    height: 60vh;
}

@media (max-width: 1024px) {
    .dk-box-fullscreen {
        min-height: 55vh;
    }
}
@media (max-width: 768px) {
    .dk-box-fullscreen {
        min-height: 35vh;
        padding: 0;
    }
    .baro{
        margin-left: -5em;
    }
}
@media (max-width: 480px) {
    .dk-box-fullscreen {
        min-height: 30vh;
        padding: 0;
    }
}

@media (max-width: 991px) {
    .only_desktop{
        display: none;
    }
    .text{
        z-index: 1;
    }
}
@media (min-width: 992px) {
    .only_mobile{
        display: none;
    }
}