.custom_logo{
    height: 3em;    
    padding-bottom: 8px;
}
.dk-drop-item a{
    padding-bottom: 0;
}
.dk-drop-item a, .fullscreen_list li a{
    font-family: "Baro", sans-serif;
    font-weight: 400 !important;
    color: var(--grey-100);
    text-transform: capitalize;
}

.dk-navbar .dk-nav-content .dk-nav a:hover{
    color: var(--black) !important;
}

.mobile_menu {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.dk-drop-item a.active, .fullscreen_list li .active{
    color: var(--black);
}

.dk-navbar-fullscreen{
    background-color: var(--white) !important;
}

.fullscreen_list li a{
    font-size: 2.5em;
}

/* .cross{
    top: -0.5em !important;
    right: 1em !important;
} */

.dk-navbar-burger.dk-open-fullscreen span{
    background-color: var(--black) !important;
}

.dk-navbar .dk-navbar-burger{
    color: var(--black) !important;
    /* position: absolute;
    bottom: 0;
    right: 20px; */
}
.dk-navbar .dk-navbar-burger:hover > span {
    background-color: var(--grey-100) !important;
}

.dk-navbar .dk-navbar-burger > span:nth-child(2){
    position: relative;
    display: block;
    width: 24px !important;
    height: 2px;
    background-color: #131313;
    transition: background-color .2s ease, visibility .2s ease, transform .2s ease, opacity .2s ease !important;
    transform: none !important;
}

@media (max-width: 992px) {
    .only_desktop{
        display: none;
    }
}

@media (max-width: 574px) {
    .dk-navbar .dk-navbar-burger{
        /* right: 10px; */
    }
}