.custom_logo{
    height: 1.8em;
}

.dk-drop-item a, .fullscreen_list li a{
    font-family: "Baro", sans-serif;
    font-weight: 400 !important;
    color: var(--grey-100);
    text-transform: capitalize;
    font-size: 1.3em;
}

.dk-drop-item a.active, .fullscreen_list li .active{
    color: var(--black);
}

.dk-navbar-fullscreen{
    background-color: var(--white) !important;
}

.fullscreen_list li a{
    font-size: 2.5em;
}
.dk-navbar-burger.dk-open-fullscreen span{
    background-color: var(--black) !important;
}

@media (max-width: 992px) {
    .only_desktop{
        display: none;
    }
}