<!--
    START: Navbar

    Additional Classes:
        .dk-navbar-sticky
        .dk-navbar-transparent
        .dk-navbar-white
        .dk-navbar-fullscreen || .dk-navbar-(xl, lg, md, sm)-fullscreen
-->
<nav class="dk-navbar dk-navbar-sticky dk-navbar-lg-fullscreen" style="position: static !important;">
    <div class="container">
        <div class="dk-nav-content">
            
            <a [routerLink]="'home'">
                <img src="assets/website/img/logo-baro.svg" alt="" class="custom_logo">
            </a> 

            
            <ul class="dk-nav dk-nav-align-right">
                
                <li routerLinkActive="active" class="dk-drop-item">
                    <a [routerLink]="'home'">Home</a>                        
                <li>
                
                <li routerLinkActive="active" class="dk-drop-item">
                    <a [routerLink]="'work'">Work</a>                        
                <li>
                
                <li routerLinkActive="active" class="dk-drop-item">
                    <a [routerLink]="'about'">About</a>                        
                <li>
                
                <li routerLinkActive="active" class="dk-drop-item">
                    <a [routerLink]="'contact'">Contact</a>                        
                <li>

        
            </ul>
            
        </div>

        <app-language-selector [languageSelectorConfig]="languageSelectorConfig" class="only_desktop"></app-language-selector>

        <div class="dk-navbar-burger" [ngClass]="{'dk-open-fullscreen': fullscreen}" (click)="toggleFullScreen()"><span></span><span></span><span></span></div>
    </div>
</nav>
<div class="dk-navbar dk-navbar-fullscreen" [ngClass]="{'dk-open-fullscreen': fullscreen}">
    <div class="container">
        <div class="d-block"></div>
        <div class="dk-nav-content">
            <ul class="dk-nav dk-nav-align-right" >

                <li routerLinkActive="active">
                    <a [routerLink]="'home'" (click)="turnOffFullScreen()">Home</a>                        
                <li>
                
                <li routerLinkActive="active">
                    <a [routerLink]="'work'" (click)="turnOffFullScreen()">Work</a>                        
                <li>
                
                <li routerLinkActive="active">
                    <a [routerLink]="'about'" (click)="turnOffFullScreen()">About</a>                        
                <li>
                
                <li routerLinkActive="active">
                    <a [routerLink]="'contact'" (click)="turnOffFullScreen()">Contact</a>                        
                <li> 
                <li>
                    <app-language-selector [languageSelectorConfig]="languageSelectorConfig"></app-language-selector>
                </li>
            </ul>
        </div>
        <ul class="dk-social-links text-center">
            <li><a href="#" class="dk-social-facebook"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="#" class="dk-social-twitter"><span class="fab fa-twitter"></span></a></li>
            <li><a href="#" class="dk-social-google-plus"><span class="fab fa-google-plus-g"></span></a></li>
            <li><a href="#" class="dk-social-behance"><span class="fab fa-behance"></span></a></li>
            <li><a href="#" class="dk-social-pinterest"><span class="fab fa-pinterest"></span></a></li>
            <li><a href="#" class="dk-social-instagram"><span class="fab fa-instagram"></span></a></li>
        </ul>
        <div class="dk-navbar-burger" [ngClass]="{'dk-open-fullscreen': fullscreen}" (click)="toggleFullScreen()"><span></span><span></span><span></span></div>
    </div>
</div>
<!-- END: Navbar -->