<nav class="dk-navbar dk-navbar-sticky dk-navbar-lg-fullscreen" style="position: static !important;">
    <div class="container">
        <div class="dk-nav-content">
            
            <a [routerLink]="''">
                <img src="/assets/website/img/logo-baro.svg" alt="" class="custom_logo">
            </a> 

            
            <ul class="dk-nav dk-nav-align-right">
                
                <li class="dk-drop-item">
                    <a [routerLink]="['']" [routerLinkActiveOptions]= "{exact: true}" routerLinkActive="active" class="pt40">{{'Home' | translate}}</a>                        
                <li>
                
                <li class="dk-drop-item">
                    <a [routerLink]="'work'" routerLinkActive="active" class="pt40">{{'Work' | translate}}</a>                        
                <li>
                
                <li class="dk-drop-item">
                    <a [routerLink]="'about'" routerLinkActive="active" class="pt40">{{'About' | translate}}</a>                        
                <li>
                
                <li class="dk-drop-item">
                    <a [routerLink]="'contact'" routerLinkActive="active" class="pt40">{{'Contact' | translate}}</a>                        
                <li>

        
            </ul>
            
        </div>
        
        <app-website-language-selector [onChange]="onLanguageChange" class="only_desktop"></app-website-language-selector>

        <div class="dk-navbar-burger" [ngClass]="{'dk-open-fullscreen': fullscreen}" (click)="toggleFullScreen()"><span></span><span></span><span></span></div>
    </div>
</nav>
<div class="dk-navbar dk-navbar-fullscreen" [ngClass]="{'dk-open-fullscreen': fullscreen}">
    <div class="container">
        <div class="d-block"></div>
        <div class="dk-nav-content">
            <ul class="dk-nav dk-nav-align-right fullscreen_list" >

                <li>
                    <a [routerLink]="['']" [routerLinkActiveOptions]= "{exact: true}" (click)="turnOffFullScreen()" routerLinkActive="active" class="pt50">{{'Home' | translate}}</a>                        
                <li>
                
                <li>
                    <a [routerLink]="'work'" (click)="turnOffFullScreen()" routerLinkActive="active" class="pt50">{{'Work' | translate}}</a>                        
                <li>
                
                <li>
                    <a [routerLink]="'about'" (click)="turnOffFullScreen()" routerLinkActive="active" class="pt50">{{'About' | translate}}</a>                        
                <li>
                
                <li>
                    <a [routerLink]="'contact'" (click)="turnOffFullScreen()" routerLinkActive="active" class="pt50">{{'Contact' | translate}}</a>                        
                <li> 
                <li>
                    <app-website-language-selector [onChange]="onLanguageChange"></app-website-language-selector>
                </li>
            </ul>
        </div>
        
        <div class="dk-navbar-burger" [ngClass]="{'dk-open-fullscreen': fullscreen}" (click)="toggleFullScreen()"><span></span><span></span><span></span></div>
    </div>
</div>
