*{
    background-color: #EF4924;
    font-family: 'Inter';
}

.center{
    text-align: center;
}

.p_50{
    padding: 50px;
}

.p_20{
    padding: 20px;
}

.watch img{
    height: 40vh;
}

.logo img{
    height: 2em;
}
